/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: auto !important; 
  overflow-x: hidden!important
} 

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
}


/* Utilties */

.opacity {
  opacity: 0.6;
}

.py-1 {
  padding-top: 50px;
}

.py-2 {
  padding: 15px;
}

.py-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.primary-light {
  color: #b7c3ce;
  opacity: 1;
}

.current {
  background-color: #4d5aff;
  color: #f7f7ff;
  padding: 10px;
}

.current:hover {
  cursor: pointer;
}

.white {
  color: #f7f7ff !important;
}

.high-priority {
  padding: 10px;
  padding-left: 20px !important; 
  padding-right: 20px !important;
  background-color: #cd0000;
  color: #f3c0c0;
}

.in-progress {
  padding: 10px;
  padding-left: 20px !important; 
  padding-right: 20px !important;
  background: #cdaf00;
  color: #faf5e3;
}

.done {
  padding: 10px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  background: #75a701;
  color: #eaf1d8;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h3 {
  font-size: 20px ;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card:hover {
  cursor: pointer;
}


/* ----------------------------------------------------------------------------------------------------------- */

#main-header {
  width: 100%;
  top: 0;
  position: sticky;
}

#main-header .logo {
  display: flex;
  margin: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

#main-header .logo img {
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background: #fff;
}

#main-header .logo input {
  flex-grow: 1;
  border-right: none;
  border-bottom: none;
  border-top: none;
  border-left: 0.5px solid #EEEFEF;
  margin-left: 5px;
}

.main-aside {
  background-color: #1C2237;
  height: 100%;
}

.main-aside .aside-item {
  display: flex;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 30px;
  border-radius: 10px;
}

.main-aside .aside-item h4{
  color: #495477;
  margin-left: 20px;
}

#main-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: #f4f4f5;
  overflow: auto;
}

#main-container .container-element {
  width: 98% !important; 
}

#main-container .container-element-2 .issue-navbar {
  display: flex;    
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin: auto;
  margin-top: 10px;
}

#main-container .container-element .issue-navbar .issue-navbar-item-1 {
  padding: 0px;
}

#main-container .container-element .issue-navbar .issue-navbar-item-2{ 
  display: flex;
  justify-content: space-around;
  width: 300px;
  align-items: center;
}

#main-container .container-element .issue-navbar .issue-navbar-item-2 .subitem-1 {
  display: flex;
  align-items: center;
  padding: 5px;
}

#main-container .container-element .issue-navbar .issue-navbar-item-2 .subitem-1 img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  opacity: 0.6;
}

#main-container .container-element .issue-navbar .issue-navbar-item-2 .subitem-2 {
  display: flex;
} 

.content-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 2rem;
}

.content-grid-item-1 {
  width: 98%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.content-grid-item-2 {
  width: 98%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.content-grid-item-3 {
  width: 98%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}


.card {
  width: 100%;
  height: 240px;
  background-color: #fff;
  color: #3d4146;
  z-index: 2;
  text-align: center;
  margin-top: 20px;
}

.card h3 {
  text-align: start;
  margin-left: 5px;
  padding: 5px;
}

.card p {
  text-align: start;
  margin-left: 5px;
  margin-bottom: 5px;
}

.card .card-inner-data h3 {
  text-align: start;
}

.card .card-inner-data p {
  margin-top: 5px;
  text-align: start;
}

.card .card-inner-data {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.card .card-inner-data p {
  padding: 5px;
  margin-bottom: 5px;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Issue Details */

.p-color-left {
  color: #787c7f !important;
}

.p-color-right {
  color: #282d32 !important;
}

.red {
  color: #cd0101;
}

.blue {
  color:#494ed6;
}

.bg-light {
  background-color: #fff;
}

#main-container .container-element ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}

#main-container .container-element ul li a {
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 30px;
  color: #4c5156;
  background-color: #ebede4;
  text-align: center;
  font-size: bold;
}

#main-container .container-element ul li {
  margin-top: 20px;    
}

#main-container .container-element-2 {
  width: 98%;
  box-sizing: border-box;
}

.content-grid-2 {
  display: flex;
  justify-content: flex-start;
}

.content-grid-2 .flex-item {
  display: flex;
  justify-content: space-around;
}

.content-grid-2 .flex-item p {
  display: inline-block;
  /* font-size: 14px; */
  margin-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.content-grid-3 {
  display: flex;
  justify-content: flex-start;
}

.content-grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.content-grid-3 h3,
.container-element p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-element h3 {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-align: start;
}

.rectangle {
  width: 100%;
  text-align: center;
  border: 1px dotted red;
  margin-bottom: 5px;
}

.rectangle img {
  margin-top: 10px;
}

.content-grid-3 ul li {
  list-style: none;
}

#down-nav-item {
  margin-bottom: 15px;
}

#down-nav-item li a {
  background-color: #fff !important;
  padding: 10px !important;
  margin-right: 40px !important;
}

#down-nav {
  border-bottom: 1px solid #ccc;
}

#down-nav a {
  text-decoration: none;
  padding: 10px !important;
  color: #42464b;
  background: #ccc;
  margin-bottom: 200px
}

#down-nav img {
  margin-right: 7px;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* Hamburger */

:root {
  --primary-color: #fff;
  --secondary-color: rgba(229, 148, 0 , 0.9);
  /* --overlay-color: rgba(24, 39, 51 , 0.85); */
  --overlay-color: #1C2237;
  --menu-speed: 0.75s;
}


.menu-wrap {
  visibility: hidden;
}

.menu-wrap {
  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 1; */
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 11px;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #4d5aff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);

}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  width: 300px;
  height: 100%;
  display: flex;
  flex: none;
  align-items: flex-start;
  justify-content: flex-start;
  /* transform: scale(0); */
  transform: translateX(-200px);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  margin-top: 70px;
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #6E7CAB;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul  li {
  display: flex;
}

.menu-wrap .menu > div > div > ul  li img{
  background-color: #1C2237;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  color: var(--secondary-color);
}


a:hover {
  cursor: pointer;
}


/* ------------------------------------------------------------------------------- */


.form-container .container {
  max-width: 100wh;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

.container .form-wrap form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.form-container .container .form-wrap .form .form-flex-items {
  width: 100% !important;
}

.form-wrap {
  width: 100%;
  background: #fff;
  padding: 15px 20px;
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
}

.form-wrap .form-group {
  padding: 10px;
  width: 100%;
}

.form-wrap .form-group label {
  display: block;
  width: 100%
}

.form-wrap .form-group input {
  width: 100%;
  padding: 7px;
}

.form-wrap button {
  margin: auto;
  display: block;
  width: 95%;
  background: #49c1a2;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  border: 1px solid #49c1a2;
  margin-top: 7px;
  cursor: pointer;
}

.form-wrap button:hover {
  background: #37a08e;
}

.form-wrap .bottom-text {
  padding: 10px;
}

.content-grid .content-grid-item-1 .card .last-child .card-inner-data-image p {
  margin-left: 30px;
}


@media(max-width: 359px) {
  .content-grid {
    grid-template-columns: 1fr;
  }
  .content-grid .card {
    height: 280px;
  }
}


@media(max-width: 1024px) and (min-width: 769px) {
  .content-grid .card {
    height: 290px;
  }
}

@media(max-width: 768px) and (min-width: 360px) {

  html, body {
    width: auto !important; 
    overflow-x: hidden!important
  } 

  .form-wrap .form-group {
    padding: 10px;
    width: 100%;
  }
   
  .form-container .container .form-wrap .form {
    flex-direction: column;
    text-align: start;

  }

  .form-container .container .form-wrap .form .form-flex-items {
    width: 100%;
  }

  .form-container .container .form-wrap .form .form-flex-items .form-group label {
    margin-bottom: .3rem;
  }


/* utilities */

  .margin-left {
      margin-left: 20px;
  }

  .margin-right {
      margin-right: 30px;
  }


  #main-header .logo {
      justify-content: space-around important;
  }

  #main-header .logo .brand-logo {
      width: 100px;
      margin-left: 100px;
  }
  
  #main-header .logo img {
    padding: 0;
  }

  #main-header .logo .svg {
    margin-right: 15px;
  }

  #main-header .logo .user {
      visibility: hidden;
  }

  #main-container {
      grid-template-columns: 1fr;
      width: 100%;
  }

  .menu-wrap {
      visibility: visible !important;
      margin-top: 10px;
  }

  #main-container .container-element .main-aside {
      display: none;
  }

  #main-container .container-element-2 .issue-navbar {
    justify-content: space-around;
  } 

  #main-container .container-element-2 {
    width: 98% !important;
    margin: auto;
    padding: 0;
  }

.content-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 10px 5px !important;
    width: 98%;
    margin: auto;
  }

  #main-container .container-element-2 .content-grid .card {
    width: 98% !important;
  }

  #main-container .container-element-2 .content-grid .card .card-inner-data {
    justify-content: space-around;
  }

  #main-container .container-element .content-grid {
      grid-template-columns: 1fr !important;
      padding: 10px;
  }

/* -----------||||||||||||||||||-------------------------------- */
  



  /* issue-details.html */
  #main-container {
      margin: auto;
  }

  #main-container .container-1 {
      display: none;
  }

  #main-container .container-2 {
      width: 100%;
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
  }

  #main-container .container-element ul {
      overflow: hidden;
      height: 150px;
      width: 100%;
      justify-content: space-around;
      flex-wrap: wrap;
      align-content: space-around;
  }

  #main-container .container-2 .secondary-nav {
      margin-left: 20px;
  }

  #main-container .container-2 .flex-item h3 {
      margin-left: 15px;
  }

  #main-header .logo > img {
      width: 100px;
  }

  #main-container .container-2 h3 {
      text-align: center;
      margin-bottom: 5px;
  }

  #main-container .container-2 #down-nav #down-nav-item {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-content: center;
  }

  .container .form-wrap form {
    display: grid;
    grid-template-columns: 1fr;
  }

}